body {
    background-color: brown;
    font-family: Vivaldi;
    color: Yellow;
}
h1 {
    line-height: 0.7;
    font-size: 50px;
}
p {
    text-indent: 0px;
    line-height: 0.2;
    font-size: 30px;
}

table, th, td {
    font-size: 25px;
    border: 1px solid;
}
th, td {
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 14px;
}
table {
    border-spacing: 10px;
}